.chakri {
  background-color: var(--primary_default,);
}
.test {
  background-color: var(--secondary_xhigh);
  color: var(--main_pressed);
}

.test-1 {
  background-color: var(--info_pressed);
}

.test-2 {
  background-color: var(--danger_hover);
}
